#content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #c2b7b5;
    padding: 15px;
    font-family: 'IBM Plex Sans';
    color: #000000;
}

#title {
    display: block;
    padding: 5px;
    background-color: #857d7b;
    color: #000000;
    font-size: 60pt;
    font-weight: bold;
    text-align: center;
    font-family: 'Sonsie One';
}
a:link {
    color: #FF1493;
}

body {
    background-color:rgb(0,0,0);
    background-image:url(https://ewedit.files.wordpress.com/2017/11/copy-of-children-of-blood-and-bone.jpg?crop=0px%2C1862px%2C1856px%2C975px&resize=1200%2C630);
    background-position:top left;
    background-repeat:repeat;
    background-attachment:fixed;
}