#content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    padding: 15px;
    font-family: 'arial';
    color: #000000;
}

#title {
    display: block;
    padding: 5px;
    background-color: #008989;
    color: #000000;
    font-size: 70pt;
    font-weight: bold;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
a:link {
    color: #000000;
}

body {
    background-color: #000000;
    background-position:top left;
    background-repeat:repeat;
    background-attachment:fixed;
}