#content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #bdf2ff;
    padding: 15px;
    font-family: helvetica, arial;
    color: #e6e6e6;
}

#title {
    display: block;
    padding: 5px;
    background-color: #262626;
    color: #e6e6e6;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
a:link {
    color: #e6e6e6;
}
