#content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #303333;
    padding: 15px;
    font-family: 'IBM Plex Sans', 'Helvetica';
    color: #FFFFFF;
    font-size: 125%;
}

#title {
    display: block;
    padding: 5px;
    background-color: #303333;
    color: #FFEF3D;
    font-size: 75pt;
    font-weight: bold;
    text-align: center;
    font-family: 'Henny Penny', 'Cursive';
}
a:link {
    color: #FFFFFF;
    text-decoration: underline;
}

body {
    background-color: #303333;
    background-position:top left;
    background-repeat:repeat;
    background-attachment:fixed;
}