{% extends "base.html" %}
{% block title %} Quiz-O-Rama {% endblock %}
{% block body %}
    <div id='content'>
        <span id='title'>Quiz-O-Rama</span>
        <span id="category">All About US!</span>
        <span id="c\ategory"><a href="{{url_for('index')}}">All Quizzes</a></span>
        <span id="category2"><a href="{{url_for('fun')}}">Fun</a></span>

       <h2>About this Site</h2>
        This site was created in January 2018 and we are still working on it.....
        <br><br>
        We are amazing and awesome! I love pie!! I love life! I love awesomeness!(us and you because you're using our site!!)
        <br>
        This website will have stuff, like...
        Pusheen...
        <br><br>
        food...
        <br><br>
        fun stuff...
        <br><br>
        ...and that's about it.
        <br><br>
        Have fun!

    </div>
{% endblock %}