{% extends "base.html" %}
{% block title %} Quiz-O-Rama {% endblock %}
{% block body %}
    <div id='content'>
        <span id='title'>Quiz-O-Rama</span>
        <span id="category">All About US!!</span>
        <span id="c\ategory"><a href="http://127.0.0.1:5000/">All Quizzes</a></span>
        <span id="category2"><a href="http://127.0.0.1:5000/fun">No</a></span>

       <h2>About this Site</h2>
        This site was created in January 2018 and we are still working on it.....
        <br><br>
        We are amazing and awesome!! I love pie!! I love life!! I love awesomwness!! (so us and you because your using our site!!)
        <br>
        This website will have stuff, like:
        pusheen....
        <br><br>
        food....
        <br><br>
        ......and that's about it.

    </div>
{% endblock %}