{% extends "quiz_base.html" %}
{% block title %} {{quiz['name']}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .question-correct:after {
            content: "✓";
            font-size: 30px;
            color: deeppink;
            padding-left: 10px;
        }

        .question-incorrect:after {
            content: "✗";
            font-size: 30px;
            color: darkorchid;
            padding-left: 10px;
        }
    </style>
{% endblock %}
{% block page_title %}{{quiz['name']}} - Checking ({{correct}} / {{total}}){% endblock %}
{% block questions %}
    {% for question in quiz['questions'] %}
        <div>
            <h4 {% if question['is_correct'] %} class="question-correct" {% else %} class="question-incorrect" {% endif %}>{{question['text']|safe}}</h4>
            {% for option in question['options'] %}
                <p {% if option[1] %} class="question-correct"  {% endif %}>
                    {{option[0]|safe}} {% if option[2] %} - <strong> Chosen </strong> {% endif %}
                </p>
            {% endfor %}
        </div>
        <hr />
    {% endfor %}
{% endblock %}
