{% extends "check_quiz_base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .question-correct:after {
            content: "✓";
            font-size: 30px;
            color: deeppink;
            padding-left: 10px;
        }

        .question-incorrect:after {
            content: "✗";
            font-size: 30px;
            color: darkorchid;
            padding-left: 10px;
        }
    </style>
{% endblock %}
{% block page_title %}{{quiz.name}} - Checking ({{quiz.get_number_correct()}} / {{quiz.get_num_questions()}}){% endblock %}
{% block questions %}
    {% for question in quiz.questions %}
        <div>
            <h4 {% if question.answered_correctly %} class="question-correct" {% else %} class="question-incorrect" {% endif %}>{{question.text|safe}}</h4>
            {% for option in question.options %}
                <p {% if option.is_correct %} class="question-correct"  {% endif %}>
                    {{option.text|safe}} {% if option.chosen %} - <strong> Chosen </strong> {% endif %}
                </p>
            {% endfor %}
        </div>
        {% if loop.revindex0 > 0 %}
            <hr />
        {% endif %}
    {% endfor %}
{% endblock %}
