{% extends "quiz_base.html" %}
{% block title %} {{quiz['name']}} {% endblock %}
{% block page_title %}{{quiz.name}}{% endblock %}
{% block questions %}
    <a href="{{url_for('index')}}">All Quizzes</a>
    <form method="post" action="/like/{{quiz.id}}">
        <input type="submit" value="Did you like this quiz?">
    </form>
    <form method = "post" action = "/highscore">
            <input type="hidden" name="quizname" value="{{quiz.id}}">
            <input type="hidden" name="numberofpointscorrect" value="{{quiz.get_number_correct()}}">
            <input type="text" name="personname" placeholder="Submit Your Name and Highscore">
    </form>
    {{quiz.result}}
{% endblock %}
