{% extends "quiz_base.html" %}
{% block title %} {{quiz['name']}} {% endblock %}
{% block page_title %}{{quiz.name}} - You are a {{quiz.result}}{% endblock %}
{% block questions %}
    <form method="post" action="/like/{{quiz.id}}">
        <input type="submit" value="Did you like this quiz?">
    </form>
    <form method = "post" action = "/highscore">
            <input type="hidden" name="quizname" value="{{quiz.id}}">
            <input type="hidden" name="numberofpointscorrect" value="{{quiz.get_number_correct()}}">
            <input type="text" name="personname" placeholder="Submit Your Name and Highscore">
    </form>
    {% for question in quiz.questions %}
        <div>
            <h4>{{question.text|safe}}</h4>
            {% for option in question.options %}
                <p>
                    {{option.text|safe}} {% if option.chosen %} - <strong> Chosen </strong> {% endif %}
                </p>
            {% endfor %}
        </div>
        {% if loop.revindex0 > 0 %}
            <hr />
        {% endif %}
    {% endfor %}
{% endblock %}
