{% extends "base.html" %}
{% block title %} Quiz-O-Rama {% endblock %}
{% block body %}
    <div id='content'>
        <span id='title'>Quiz-O-Rama</span>
        <span id="c\ategory"><a href="http://127.0.0.1:5000/">All Quizzes</a></span>
        <span id="c\ategory1"><a href="http://127.0.0.1:5000/about">About Us</a></span>
        <span id="c\ategory2"><b>Fun!</b></span>
        <br>
        <form>
            <input type="text" name="search" placeholder="Search...">
        </form>
        This part isn't really dangerous. It's just fun! And a secret. So don't tell anyone!
        <br>
        Shhhhhhh.....
        <a href=""</a>
    </div>
{% endblock %}