{% extends "base.html" %}
{% block css %}
{% if style_button %}
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='style2.css')}}" />
{% else %}
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}" />
{% endif %}
{% endblock %}
{% block title %} Quiz-O-Rama {% endblock %}
{% block body %}
    <div id='content'>
            <span id='title'>Quiz-O-Rama</span>
        <br>
        <div class="metanav">
            <span id="category" style="font-size:160%">All Quizzes</span>
            <br>
            <form method = "post" action = "/search">
            <input type="text" name="search" placeholder="Search...">
            </form>
            <a href="{{url_for('about')}}">About Us</a> |
            <a href="{{url_for('fun')}}">Fun</a> |
            <a href="{{url_for('index', tags='People')}}">People</a> |
            <a href="{{url_for('index', tags='Pop Culture')}}">Pop Culture</a> |
            <a href="{{url_for('index', tags='Characters')}}">Characters</a> |
            <a href="{{url_for('index', tags='Food')}}">Food</a> |
            <a href="{{url_for('index', tags='Science')}}">Science</a> |
            <a href="{{url_for('index', tags='Sort Yourself')}}">Sort Yourself</a> |
            <a href="{{url_for('index', tags='Animals')}}">Animals</a>
            <form method="post" action="/change_style">
            <input type="submit" value="Style Button">
            </form>
        </div>

        <span id="text"><br>Play a quiz!</span>
        <ul>
            {% for quiz_name, quiz in quiz_names %}
            <li><a href="{{url_for('quiz', quiz_name=quiz_name)}}">{{quiz.name}}</a> <b>{{quiz.likes}}</b></li>
                <br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}