{% extends "base.html" %}
{% block css %}
{% if style_button %}
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='style2.css')}}" />
{% else %}
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}" />
{% endif %}
{% endblock %}
{% block title %} Quiz-O-Rama {% endblock %}
{% block body %}
    <div id='content'>
            <span id='title'>Quiz-O-Rama</span>
        <br>
        <span id="category" style="font-size:160%">All Quizzes</span>
        <form method = "post" action = "/search">
            <input type="text" name="search" placeholder="Search...">
        </form>
        <form action="{{url_for('about')}}">
            <input type="submit" value="About Us" />
        <span id="category1"><a href="{{url_for('about')}}">About Us</a></span>
        </form>
        <form action="{{url_for('fun')}}">
            <input type="submit" value="Fun" />

            <span id="category2"><a href="{{url_for('fun')}}">Fun</a></span>
        </form>
        <br>
        <form action="{{url_for('index', tags='animals')}}">
            <input type="submit" value="Animal Quizzes" />
        <span id="category3"><a href="{{url_for('index', tags='Animals')}}">Animals</a></span>
        <span id="category4"><a href="{{url_for('index', tags='People')}}">People</a></span>
        <span id="category5"><a href="{{url_for('index', tags='Pop Culture')}}">Pop Culture</a></span>
        <span id="category6"><a href="{{url_for('index', tags='Characters')}}">Characters</a></span>
        <span id="category7"><a href="{{url_for('index', tags='Food')}}">Food</a></span>
        <span id="category8"><a href="{{url_for('index', tags='Science')}}">Science</a></span>
        <span id="category9"><a href="{{url_for('index', tags='Sort Yourself')}}">Sort Yourself</a></span>
        </form>
        <form method="post" action="/change_style">
            <input type="submit" value="switch it up!">
        </form>

        <span id="text"><br>Play a quiz!</span>
        <ul>
            {% for quiz_name, quiz in quiz_names %}
            <li><a href="{{url_for('quiz', quiz_name=quiz_name)}}">{{quiz.name}}</a> <b>{{quiz.likes}}</b></li>
                <br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}